// Importing Global Variables
@import '~@redhat-cloud-services/frontend-components-utilities/styles/_all';

.pf-v5-l-gallery {
  height: 100%;
  --pf-v5-l-gallery--GridTemplateColumns--min: 20%;
  padding: var(--pf-global--spacer--md);
}
@container (width < 700px) {
  .pf-v5-l-gallery {
    --pf-v5-l-gallery--GridTemplateColumns--min: 40%;
  }
}

.alert-link {
  height: 100%;
  text-decoration: none;
}
.pf-v5-c-alert {
  display: flex;
  align-items: center; // Vertical Alignment
  flex-direction: column;
  height: 100%;
  justify-content: center;
  .pf-v5-c-alert__icon {
    margin-bottom: var(--pf-global--spacer--md);
    margin-right: 0;
    .pf-v5-svg {
      margin-left: auto;
      margin-right: auto;
      font-size: 30px;
    }
  }
  .pf-v5-c-alert__title {
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    font-weight: medium;
  }
  .pf-v5-c-alert__description {
    text-align: center;
    font-size: var(--pf-v5-global--FontSize--md);
    font-weight: medium;
    margin-top: 5px;
  }
}

.pf-v5-c-empty-state {
  padding: var(--pf-global--spacer--md);
  &__icon {
    margin-bottom: 0;
  }
  &__body {
    margin-top: var(--pf-global--spacer--sm);
  }
}
