// Importing Global Variables
@import '~@redhat-cloud-services/frontend-components-utilities/styles/_all';

.pf-v5-l-gallery {
  container-type: inline-size;
  flex-wrap: wrap;
  .pf-v5-c-alert {
    white-space: nowrap;
    padding-bottom: var(--pf-global--spacer--xl);
  }
  @container (width < 500px) {
    .pf-v5-c-alert {
      padding-top: var(--pf-global--spacer--sm);
      padding-bottom: var(--pf-global--spacer--md);
    }
  }
}
.pf-v5-c-empty-state {
  padding: var(--pf-global--spacer--md);
  &__icon {
    margin-bottom: 0;
  }
  &__body {
    margin-top: var(--pf-global--spacer--sm);
  }
}
